html{
    min-height: 100%;
    font-family: Roboto, Ubuntu, sans-serif;
}
body{
    background-image: linear-gradient(315deg, #89f7fe , #66a6ff);
    margin: 0;
}
#main-frame{
    padding: 10px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 25px;
}
#SIH{
    color: black;
    font-style: oblique;
}
#tlist{
    text-align: center;
}
table{
    margin: auto;
    min-width: 75%;
    border-radius: 10px;
}
thead{
    font-size: larger;
    background-color: black;
    color: beige;
}
tbody{
    font-size: large;
    background-color: antiquewhite;
}
a.github-prof{
    color: black;
}
table, th, td {
    border: 1px solid black;
}
h1,table{
    text-align: center;
}
ul{
    font-size: large;
    padding-bottom: 5px;
}
li{
    margin: 2px 0;
}