.special-skill-item .icon {
  background-color: #ff4269;
}

.col-md-6.col-lg-4.item.zoom-on-hover {
  background: #fff;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #FF4269;
  border-color: #FF4269;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #FF4269;
  border-color: #FF4269;
}

.btn-outline-primary {
  color: #FF4269;
  border-color: #FF4269;
}

.gradient {
  background: linear-gradient(135deg, #FF6942, #FF4269);
}

.avatar {
  background-image: url("../../assets/img/Maine ki Hai Mehnat.jpg");
}

.project-card-no-image {
  border-top: 4px solid #FF6942;
}

.page-footer .social-icons a {
  background-color: #000;
}
.text-white {
  font-size: x-large;
}
tbody{
  font-size: larger;
}

